<h2>Your IIIF manifests</h2>
<a href="/manifests/new" class="btn btn-primary">Add new manifest</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Owner</th>
      <th scope="col">Label</th>
      <th scope="col"><Del></Del>Description</th>
      <th scope="col"><Del></Del>Created at</th>      
      <th scope="col"><Del></Del>Updated at</th>
      <th scope="col"><Del></Del>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% manifests.forEach((manifest) => { %>
    <tr>
      <th scope="row">
        <a href="/api/presentation/2/<%= manifest.id %>.json" target="_blank"><%= manifest.id %></th></a>
      <td><%= manifest.uid %></td>
      <td><%= manifest.label %></td>
      <td><%= manifest.description %></td>        
      <td><%= formatDate(manifest.createdAt) %></td>
      <td><%= formatDate(manifest.updatedAt) %></td>
      <td>
        <div class="dropdown">
          <button
            class="btn btn-sm btn-primary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Actions
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
               <li>
              <a
                class="dropdown-item"
                target="_blank"
                href="https://uv-v4.netlify.app/#?manifest=/<%= IIIF_BASE_URI %>api/presentation/2/<%= manifest.id %>.json"
                >Browse in Universal Viewer</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/manifests/<%= manifest.id %>/edit"
                >Edit</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/manifests/<%= manifest.id %>/images"
                >Manage images</a
              >
            </li>
            <li>
              <form
                action="/manifests/<%= manifest.id %>"
                method="POST">
                  <button type="submit" name="_method" value="DELETE" class="dropdown-item btn btn-link">Delete</button>
              </form>
            </li>
          </ul>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
