<script src="/public/js/images.js"></script>
<h1>Manage IIIF Images</h1>
<h2>Manifest ID: <a href="/api/presentation/2/<%= manifest.id %>.json" target="_blank"><%= manifest.id %></th></a></h2>
<form action="/manifests/<%= manifest.id %>/images" method="post" enctype="multipart/form-data">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Thumbnail</th>
      <th scope="col">Status</th>
      <th scope="col">Size</th>
      <th scope="col"><Del></Del>Actions</th>
    </tr>
  </thead>
  <tbody id="image-table-body">
    <% images.forEach((image, index) => { %>
    <tr class="image-row">
      <th scope="row"><%= index + 1 %></th>      
      <td>
        <img
          <% if(image.status === 'converted') { %>
          src="/api/iiif/2/<%= image.name %>.tif/full/!100,100/0/default.jpg"
          <% } else { %>
          src="/public/images/no-image.png"
          <% } %>
          alt="Thumbnail"
          style="max-width: 100px"
        />
      </td>
      <td><%= image.status %></td>
      <td><%= image.width %>x<%= image.height %></td>
      <td>
        <button type="submit" name="deleteImage" value="<%= image.name %>" class="btn btn-secondary"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"> <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path> <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path> </svg> </button>      
        <button type="button" onclick="window.open('/api/iiif/2/<%= image.name %>.tif/full/full/0/default.jpg')" class="btn btn-secondary"> <i class="bi bi-card-image"></i> </button>      
      </td>
      <% }) %>
  </tbody>
</table>
<div style="margin: 10px">
  <input
    type="file"
    name="images"
    multiple
    accept=".jpg, .jpeg"
    onChange="addPreviews(event)"
  />
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>  
</div>
</form>

